.top-right-corner {

  top: 25px;
  right: 25px;
}

.example-container{
  text-align: center
}
label{
  font-weight: bold;
  text-align: left;
  float: left;
}
.card-style{
  width: 400px;
  margin: 100px auto auto;
}

.label-space{
  padding: 5px;
}

button{
  margin: 20px auto auto;
}

.block{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
