<div class="example-container">
  <div class="form-container">
    <h2>Update Password</h2>
    <form [formGroup]="updatePasswordFormGroup">
      <div>
        <label>New Password</label>
        <input matInput type="password" class="form-control" formControlName="password" required
               [ngClass]="{'is-invalid': formControl['password'].touched && formControl['password'].errors}">
        <div *ngIf="formControl['password'].errors" class="invalid-feedback">
          <div *ngIf="formControl['password'].errors['pattern']">Password must contain characters and digits!</div>
          <div *ngIf="formControl['password'].errors['required']">Password is required!</div>
          <div *ngIf="formControl['password'].errors['maxlength']">Password is too long!</div>
          <div *ngIf="formControl['password'].errors['minlength']">Password is too short!</div>
        </div>
      </div>
      <div>
        <label>Confirm Password</label>
        <input matInput type="password" class="form-control" formControlName="confirmPassword" required
               [ngClass]="{'is-invalid': formControl['confirmPassword'].touched && formControl['confirmPassword'].errors}">
        <div *ngIf="formControl['confirmPassword'].errors" class="invalid-feedback">
          <div *ngIf="formControl['confirmPassword'].errors['required']">Confirm Password is required!</div>
          <div *ngIf="formControl['confirmPassword'].errors['matching']">Passwords don't match!</div>
        </div>
      </div>
        <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Save</button>
       <!-- <button mat-raised-button color="basic" type="submit" (click)="cancel()">Cancel</button>-->
    </form>
  </div>
</div>
