.example-container{
  text-align: center
}
label{
  font-weight: bold;
  text-align: left;
  float: left;
}
.form-container{
  width: 400px;
  margin: 100px auto auto;
}

button{
  margin: 20px auto auto;
}
nz-footer {
  text-align: center;
  margin: 300px auto auto;
}
.layout{
  background-color: white;
}
