.example-container{
  text-align: center
}
label{
  font-weight: bold;
  text-align: left;
  float: left;
}
.form-container{
  width: 400px;
  margin: 40px auto auto;
}

button{
  margin: 30px auto 30px;
}

.top-right-corner {
  margin-left: 90%;
}
nz-footer {
  text-align: center;
  margin: 80px auto auto;
}
.layout{
  background-color: white;
}

