<nz-layout *ngIf="!isFormValid">
  <nz-header>
    <div *ngIf="!isFormValid">
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" style="margin-left: 88.5%">
      <li nz-menu-item><span style="font-size: 22px;"></span> <span></span></li>

      <li nz-menu-item (click)="goToLogin()"><span nz-icon nzType="login" nzTheme="outline"
                                                            style="font-size: 22px;"></span> <span></span><span></span> Sign In
      </li>
    </ul>
    </div>
  </nz-header>
</nz-layout>
<div *ngIf="!isFormValid">
  <div class="example-container">
    <div class="form-container">
      <h1>Registration</h1>
      <form nz-form [formGroup]="userRegistrationFormGroup">
        <div class="form-group">
          <label>RSA ID Number</label>
          <input type="text" nz-input class="form-control" formControlName="IDNumber" required
                 [ngClass]="{'is-invalid' : formControl['IDNumber'].touched && formControl['IDNumber'].errors}">
          <div *ngIf="formControl['IDNumber'].errors" class="invalid-feedback">
            <div *ngIf="formControl['IDNumber'].errors['required']">Student Number is required!</div>
            <div *ngIf="formControl['IDNumber'].errors['pattern']">Student Number contains characters!</div>
            <div *ngIf="formControl['IDNumber'].errors['maxlength']">Student Number should contain 10 digits!</div>
          </div>
        </div>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" nz-input class="form-control" formControlName="firstname" required
                 [ngClass]="{'is-invalid': formControl['firstname'].touched && formControl['firstname'].errors}">
          <div *ngIf="formControl['firstname'].errors" class="invalid-feedback">
            <div *ngIf="formControl['firstname'].errors['required']">First name is required!</div>
            <div *ngIf="formControl['firstname'].errors['pattern']">First Name contains a digit!</div>
            <div *ngIf="formControl['firstname'].errors['maxlength']">First Name is too long!</div>
            <div *ngIf="formControl['firstname'].errors['minlength']">First Name too short!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" nz-input class="form-control" formControlName="lastname" required
                 [ngClass]="{'is-invalid':formControl['lastname'].touched && formControl['lastname'].errors}">
          <div *ngIf="formControl['lastname'].errors" class="invalid-feedback">
            <div *ngIf="formControl['lastname'].errors['required']">Last name is required!</div>
            <div *ngIf="formControl['lastname'].errors['pattern']">Last Name contains a digit!</div>
            <div *ngIf="formControl['lastname'].errors['maxlength']">Last Name is too long!</div>
            <div *ngIf="formControl['lastname'].errors['minlength']">Last Name too short!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input type="email" nz-input class="form-control" formControlName="email" required
                 [ngClass]="{'is-invalid': formControl['email'].touched && formControl['email'].errors}">
          <div *ngIf="formControl['email'].errors" class="invalid-feedback">
            <div *ngIf="formControl['email'].errors['email']">Please enter a valid email address!</div>
            <div *ngIf="formControl['email'].errors['required']">Email address is required!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Confirm Email Address</label>
          <input type="email" nz-input class="form-control" formControlName="confirmEmail" required
                 [ngClass]="{'is-invalid': formControl['confirmEmail'].touched && formControl['confirmEmail'].errors}">
          <div *ngIf="formControl['confirmEmail'].errors" class="invalid-feedback">
            <div *ngIf="formControl['confirmEmail'].errors['email']">Please enter a valid email address!</div>
            <div *ngIf="formControl['confirmEmail'].errors['required']">Email address is required!</div>
            <div *ngIf="formControl['confirmEmail'].errors['matching']">Email addresses don't match!</div></div>
        </div>
        <div class="form-group">
          <label>Cellphone Number</label>
                <input type="text" nz-input class="form-control" formControlName="cellPhoneNumber" required
                       [ngClass]="{'is-invalid': formControl['cellPhoneNumber'].touched && formControl['cellPhoneNumber'].errors}">
                <div *ngIf="formControl['cellPhoneNumber'].errors" class="invalid-feedback">
                  <div *ngIf="formControl['cellPhoneNumber'].errors['pattern']">Cellphone Number must only contain digits!</div>
                  <div *ngIf="formControl['cellPhoneNumber'].errors['required']">Cellphone Number is required!</div>
                  <div *ngIf="formControl['cellPhoneNumber'].errors['minlength'] ||
         formControl['cellPhoneNumber'].errors['maxlength']">Cellphone Number is invalid!</div>
                </div>
        </div>
        <div class="form-group">
          <label>Confirm Cellphone Number</label>
          <input type="text" nz-input class="form-control" formControlName="confirmCellPhoneNumber" required
                 [ngClass]="{'is-invalid': formControl['confirmCellPhoneNumber'].touched && formControl['confirmCellPhoneNumber'].errors}">
          <div *ngIf="formControl['confirmCellPhoneNumber'].errors" class="invalid-feedback">
            <div *ngIf="formControl['confirmCellPhoneNumber'].errors['required']">Cellphone Number is required!</div>
            <div *ngIf="formControl['confirmCellPhoneNumber'].errors['minlength'] ||
         formControl['confirmCellPhoneNumber'].errors['maxlength']">Cellphone Number is invalid!</div>
            <div *ngIf="formControl['confirmCellPhoneNumber'].errors['matching']">Cellphone Numbers don't match!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" nz-input class="form-control" formControlName="password" required
                       [ngClass]="{'is-invalid': formControl['password'].touched && formControl['password'].errors}">
          <div *ngIf="formControl['password'].errors" class="invalid-feedback">
            <div *ngIf="formControl['password'].errors['pattern']">Password must contain characters and digits!<p>Special characters allowed - !?`~@#$%^&*+=</p></div>
            <div *ngIf="formControl['password'].errors['required']">Password is required!</div>
            <div *ngIf="formControl['password'].errors['maxlength']">Password is too long!</div>
            <div *ngIf="formControl['password'].errors['minlength']">Password is too short!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" nz-input class="form-control" formControlName="confirmPassword" required
                 [ngClass]="{'is-invalid': formControl['confirmPassword'].touched && formControl['confirmPassword'].errors}">
          <div *ngIf="formControl['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="formControl['confirmPassword'].errors['required']">Confirm Password is required!</div>
            <div *ngIf="formControl['confirmPassword'].errors['matching']">Passwords don't match!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Primary Contact</label>
          <select formControlName="primaryContact" class="form-control">
            <option value="">Choose Primary Contact</option>
            <option *ngFor="let contact of primaryContactOption" [ngValue]="contact">{{contact}}</option>
          </select>
        </div>
        <button nz-button nzType="primary" nzBlock (click)="onSubmit()">Register</button>
      </form>
    </div>
  </div>
</div>
<nz-layout class="layout" *ngIf="!isFormValid">
  <div>
    <nz-footer>Lab Assistant©2023</nz-footer>
  </div>
</nz-layout>

<nz-modal [(nzVisible)]="isOTPVisible" nzTitle="Verify Contact" [nzOkText]="'Verify OTP'"
          (nzOnCancel)="handleCancelOTP()" (nzOnOk)="otpSubmit()">
  <ng-container *nzModalContent>
    <div class="example-container">
      <form [formGroup]="oneTimePinFormGroup">
        <label class="label-otp">Please enter the One Time Pin: </label>
        <input type="text" class="form-control" formControlName="oneTimePin" required
               [ngClass]="{'is-invalid': formControlO['oneTimePin'].touched &&
               formControlO['oneTimePin'].errors}">
        <div *ngIf="formControlO['oneTimePin'].errors" class="invalid-feedback">
          <div *ngIf="formControlO['oneTimePin'].errors['required']">OTP is required!</div>
        </div>
      </form>
    </div>
  </ng-container>
</nz-modal>
<app-login *ngIf="isFormValid"></app-login>




